---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroAbout from '../components/HeroAbout.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Rifki Septiawan | Software Engineer">
  <Header />
  <main>
    <HeroAbout />
    <Experience />
    <Projects />
  </main>
  <Footer />
</Layout>
